pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum
blog-pack/
browser-pack/
buffer-pack/
caml-pack/
chat-pack/
chrome-pack/
clojure-pack/
clojurescript-pack/
conkeror-pack/
ctags-pack/
el-get-pack/
elisp-pack/
git-pack/
graph-pack/
groovy-pack/
haskell-pack/
helm-pack/
help-pack/
idris-pack/
install-packages-pack/
irc-pack/
java-pack/
js-pack/
lisp-pack/
macro-pack/
mail-pack/
marmalade-pack/
mercurial-pack/
modeline-pack/
nix-pack/
orgmode-pack/
php-pack/
popup-pack/
prelude-pack/
pres-pack/
puppet-pack/
purescript-pack/
python-pack/
scala-pack/
scratch-pack/
shell-pack/
slime/
stumpwm-pack/
theme-pack/
twitter-pack/
viewer-pack/
wiki-pack/
